	p
	{
		color: black;
	}

	h1
	{
		position: relative;
		display: inline-block;
	}

	#Sidebar
	{
		width: 0px;
		height: 0px;
		background: blue;
	}

	#main_wapper
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-item: center;
		max-width: 800px;
		background: blue;
	}

	body
	{
		background: blue;
	}
	
	#banner_image
	{
		background: url("https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAnYAAAAJGUxZGRiMzBlLTc2NDItNDkyNS1iYjYzLWZhMTA4YmJhMWEwMA.jpg") no-repeat;
		height: 100px;
		width: 100px;
		display: inline-block;	
		position: absolute;
		right: 5px;
		top: 5px;	
	}

	#banner_text
	{
		font-size: 0em;
	}
